.rounded_image {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.rounded_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rounded_image.px75 {
    width: 75px;
    height: 75px;
}