.pet_home_header {
    margin-bottom: 2em;
}

.pet_home_header h1 {
    margin-bottom: 0.3em;
}

.pet_home_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.pet_home_card {
    min-width: 22%;
    margin: 1.5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgb(85 85 85 / 9%), 0 1px 20px 0 rgb(0 0 0 / 8%), 0px 1px 11px 0px rgb(0 0 0 / 6%);
}

.pet_home_card_image {
    background-position: center;
    background-size: cover;
    height: 225px;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.pet_infos {
    padding: 0.5em 0.5em 2em;
}

.pet_home_card h3 {
    color: #16479d;
    font-size: 1.6em;
    padding: 8px;
}

.pet_home_card p {
    margin-bottom: 1.6em;
}

.pet_home_card .pet_infos .details_btn {
    text-decoration: none;
    background-color: #ffd400;
    color: #16479d;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: 15px;
    border-radius: 5px;
}

.pet_home_card .pet_infos .details_btn:hover {
    background-color: #e7c30d;
    color: #FFF;
}

.pet_home_card .pet_infos .adopted_text {
    color: #25b456;
    font-weight: bold;
    margin-bottom: 0;
}